# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# =========================
# Docker
# =========================

# Docker override files (optional local changes)
docker-compose.override.yml
compose.override.yaml

# =========================
# Logs
# =========================

*.log

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Temporary files
# =========================

*.tmp
*.swp

# =========================
# Project
# =========================

project-docs/

# =========================
# AI
# =========================

CLAUDE.md